body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0%;
    padding: 0%;
}

header, footer {
    background-color: blueviolet;
    color: aliceblue;
    padding: 15px;
    text-align: center;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    margin: auto;
}

nav a:hover{
    text-decoration: underline;
}

main{
    background-color: blanchedalmond;

}

footer{
    font-size: medium;
}